body {
    background-color: rgb(227, 205, 150);
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
}

h1 {
    color: rgb(0, 0, 0);
    text-align: center;
}

.about {
    color:black;
}

.skills {
    color:black;
}

.projects {
    color:rgb(197, 202, 243);
}

.contact {
    color:black;
}

/* Projects css from example in class  https://kwyandt.github.io/csce190/ */

h3 {
    text-align: center;
    font-style: italic;
}

.projects{
    display:flex;
    flex-wrap:wrap;
}
.project{
    width:90%;
    margin: 10px;
    padding: 20px 10px;
    background:#666e85;
    /*border-radius: 25%;*/
}

.project img{
    /* width: 900px;
    height: 250px; removed to allow for different image sizes*/
    margin: 10px;
    border: 2px solid rgb(175, 182, 237);
    display: block;
    margin: auto;
}

.project img:hover{
    border: 2px solid white;
}

.a{
    text-decoration: none;
    color: rgb(175, 182, 237);
}

.a .skills{
    text-decoration: none;
    color: rgb(57, 78, 241);
}

.project a:hover{
    color: white;
}

.project p {
    text-align: center;
    margin: 15px;
}

.about{
    display:flex;
    flex-wrap:wrap;
    margin-right: 100px;
    margin-left: 100px;
    justify-content: center;
    }

.about p {
    width:50%;
    text-align: center;
    margin: auto;
    line-height: 125%;
    color: rgb(0, 0, 0);
    }

.about img {
    width: 150px;
    height: 200px;
    border-radius: 25%;
    border: 2px solid rgb(126, 14, 201);
    }
    